/*Estilos gerais*/

.fc-white{
     color: #ffffff;
}

.fsz{
     font-size: 24px;
}

.background{
     background-image: url(../img/fundo.gif);
     background-color: #262144;
     background-size: cover;
     background-repeat: no-repeat;
}

/*Estilos da página index.html*/

.center {
     text-align: center;
}

.container{
     display: flex;
     flex-flow:row;
     justify-content: center;
     align-items: center;
}

.glass{
     backdrop-filter: blur(5px);
     transition: 3s;
     border-bottom: thin solid #ffffff;
     border-left: thin solid #ffffff;
     padding: 5px;
  
     
}

.justify{
     text-align: justify;
}

#menu li{
     display: inline;
     padding: 10px;
     font-size: 22px;
 
}

#menu li a{
     background-color: #ffffff;
     border: 1px solid #ffffff;
     border-radius: 25px;
     color: #000000;
     display: inline-block;
     font-size: 16px;
     font-weight: bold;
     outline: none;
     padding: 16px 24px;
     text-decoration: none;
     transition: 2s;
         
}

#menu li a:hover{
     color: #ffffff;
     background-color: unset;
     border-color: #000000;
     transition: 1s;
}




.padd-30{
     padding: 30px;
     text-align: center;
}

.bdrd-300{
     border-radius: 300px;
}

.sz-400{
     width: 400px;
     height: 400px;
}

.tm-social{
     width: 50px;
     height: 50px;
}

.margb-50{
     margin-bottom: 50px;
}

/*Estilos da página contato.html*/

.margl-50 {
     margin-left: 50px;
}

